### CSV Files

#### Fetching data from URL. (Can use below snippet)

In [9]:
import requests
from io import StringIO
import pandas as pd


url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv" #put any url of CSV file here
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)
pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

#### Sep and Names(for CSV without Headings) Parameters
```sep``` = 'seperator'

```names``` = [ 'list of headers' ] 
###### names gives headers to dataframe

In [ ]:
pd.read_csv(xyz, names = ["Country", "Region"])

Empty DataFrame
Columns: [Country, Region]
Index: []

### Index_col Parameter

when you want to set a column in CSV as row index you set ```index_col``` parameter to the column name as string

In [15]:
pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv", index_col = 'Country')

                  Region
Country
Algeria           AFRICA
Angola            AFRICA
Benin             AFRICA
Botswana          AFRICA
Burkina           AFRICA
...                  ...
Paraguay   SOUTH AMERICA
Peru       SOUTH AMERICA
Suriname   SOUTH AMERICA
Uruguay    SOUTH AMERICA
Venezuela  SOUTH AMERICA

[194 rows x 1 columns]