### CSV Files
#### Import csv data by passing relative or absolute path of file
#### 1. Fetching data from URL. (Can use below snippet)

In [ ]:
import requests
from io import StringIO
import pandas as pd

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv" #put any url of CSV file here
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)
pd.read_csv(data)

In [24]:
import pandas as pd

pd.read_csv('datasets\cardio_train.csv')

<>:3: SyntaxWarning: invalid escape sequence '\c'
<>:3: SyntaxWarning: invalid escape sequence '\c'
C:\Users\lason\AppData\Local\Temp\ipykernel_17344\2920140447.py:3: SyntaxWarning: invalid escape sequence '\c'
  pd.read_csv('datasets\cardio_train.csv')

      id;age;gender;height;weight;ap_hi;ap_lo;cholesterol;gluc;smoke;alco;active;cardio
0                  0;18393;2;168;62.0;110;80;1;1;0;0;1;0
1                  1;20228;1;156;85.0;140;90;3;1;0;0;1;1
2                  2;18857;1;165;64.0;130;70;3;1;0;0;0;1
3                 3;17623;2;169;82.0;150;100;1;1;0;0;1;1
4                  4;17474;1;156;56.0;100;60;1;1;0;0;0;0
...                                                  ...
69995          99993;19240;2;168;76.0;120;80;1;1;1;0;1;0
69996         99995;22601;1;158;126.0;140;90;2;2;0;0;1;1
69997         99996;19066;2;183;105.0;180;90;3;1;0;1;0;1
69998          99998;22431;1;163;72.0;135;80;1;2;0;0;0;1
69999          99999;20540;1;170;72.0;120;80;2;1;0;0;1;0

[70000 rows x 1 columns]

#### 2. Sep and Names(for CSV without Headings) Parameters
```sep``` = 'seperator'

```names``` = [ 'list of headers' ] 
###### names gives headers to dataframe

In [ ]:
pd.read_csv(xyz, names = ["Country", "Region"])

In [26]:
pd.read_csv('datasets/cardio_train.csv', sep = ';').head(10)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0
9,14,19834,1,164,68.0,110,60,1,1,0,0,0,0

### 3. Index_col Parameter

when you want to set a column in CSV as row index you set ```index_col``` parameter to the column name as string

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv", index_col = 'Country')

In [ ]:
pd.read_csv('datasets/cardio_train.csv',sep = ';',index_col='id')

### 4. Header parameter

When your column names are being treated as 1st row, you can set ```header``` paramerter to 1 (for first row)

if you set header to some row 'n', the data frame starts from row 'n+1'

`headers` and `header` are different Parameters

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv",header=0)

In [9]:
pd.read_csv('datasets/cardio_train.csv',sep = ';', header=None)

C:\Users\lason\AppData\Local\Temp\ipykernel_17344\350505108.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('datasets/cardio_train.csv',sep = ';',header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
1,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
2,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
3,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
4,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69996,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69997,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69998,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69999,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
70000,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

### 5. ```usecols``` parameter

to import only specfic columns from csv file.

input is list of column names as strings.

In [ ]:
pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv", usecols=['Region'])

In [10]:
pd.read_csv("datasets/cardio_train.csv",sep = ';', usecols=['age', 'gender', 'cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio'])

         age  gender  cholesterol  gluc  smoke  alco  active  cardio
0      18393       2            1     1      0     0       1       0
1      20228       1            3     1      0     0       1       1
2      18857       1            3     1      0     0       0       1
3      17623       2            1     1      0     0       1       1
4      17474       1            1     1      0     0       0       0
...      ...     ...          ...   ...    ...   ...     ...     ...
69995  19240       2            1     1      1     0       1       0
69996  22601       1            2     2      0     0       1       1
69997  19066       2            3     1      0     1       0       1
69998  22431       1            1     2      0     0       0       1
69999  20540       1            2     1      0     0       1       0

[70000 rows x 8 columns]

### 6. Squeeze bool parameter 
###### (Doesn't work anymore, Workaround suggested)
converts single column df object to pd series object

Removed in recent version of Pandas lib

better just do column indexing, it becomes series directly.

In [ ]:
# pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv",usecols=['Region'], squeeze=True) # Removed in recent version of Pandas lib

pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv",usecols=['Region'])["Region"]

In [12]:
# pd.read_csv('datasets\cardio_train.csv',sep = ';',squeeze=True) # Removed in recent version of Pandas lib

pd.read_csv('datasets/cardio_train.csv',sep = ';')['height']

0        168
1        156
2        165
3        169
4        156
        ...
69995    168
69996    158
69997    183
69998    163
69999    170
Name: height, Length: 70000, dtype: int64

### 7. Skiprows/nrows
skiprows:
skip specified row numbers in list, or using function

nrows:
import only first n rows

Can be used when lot of data is there and ur ram is not sufficient to load it.

In [22]:
pd.read_csv("datasets/cardio_train.csv",sep = ';',skiprows=4)
# or

           3  17623  2  169   82.0  150  100  1  1.1  0  0.1  1.2  1.3
0          4  17474  1  156   56.0  100   60  1    1  0    0    0    0
1          8  21914  1  151   67.0  120   80  2    2  0    0    0    0
2          9  22113  1  157   93.0  130   80  3    1  0    0    1    0
3         12  22584  2  178   95.0  130   90  3    3  0    0    1    1
4         13  17668  1  158   71.0  110   70  1    1  0    0    1    0
...      ...    ... ..  ...    ...  ...  ... ..  ... ..  ...  ...  ...
69991  99993  19240  2  168   76.0  120   80  1    1  1    0    1    0
69992  99995  22601  1  158  126.0  140   90  2    2  0    0    1    1
69993  99996  19066  2  183  105.0  180   90  3    1  0    1    0    1
69994  99998  22431  1  163   72.0  135   80  1    2  0    0    0    1
69995  99999  20540  1  170   72.0  120   80  2    1  0    0    1    0

[69996 rows x 13 columns]

In [23]:
pd.read_csv("datasets/cardio_train.csv", sep=';',skiprows = [2,4,6,8,10],nrows = 15)
# or

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
2,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
3,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
4,13,17668,1,158,71.0,110,70,1,1,0,0,1,0
5,15,22530,1,169,80.0,120,80,1,1,0,0,1,0
6,16,18815,2,173,60.0,120,80,1,1,0,0,1,0
7,18,14791,2,165,60.0,120,80,1,1,0,0,0,0
8,21,19809,1,158,78.0,110,70,1,1,0,0,1,0
9,23,14532,2,181,95.0,130,90,1,1,1,1,1,0
10,24,16782,2,172,112.0,120,80,1,1,0,0,0,1
11,25,21296,1,170,75.0,130,70,1,1,0,0,0,0
12,27,16747,1,158,52.0,110,70,1,3,0,0,1,0
13,28,17482,1,154,68.0,100,70,1,1,0,0,0,0
14,29,21755,2,162,56.0,120,70,1,1,1,0,1,0

In [29]:
pd.read_csv("datasets/cardio_train.csv", sep=';',skiprows = lambda x:x%2==1)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
1,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
2,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
3,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
4,14,19834,1,164,68.0,110,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34995,99988,20609,1,159,72.0,130,90,2,2,0,0,1,0
34996,99991,19699,1,172,70.0,130,90,1,1,0,0,1,1
34997,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
34998,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
34999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

### 8. Encoding parameter

sometimes dataset is encoded in different encoding format. default and most used is UTF-8. sometimes it is latin-1, may be diffferent for hindi, emojis dataset, etc.

We can change encoding by using `encoding` parameter like `encoding = 'latin-1'`

### 9. Skip bad lines
`error_bad_lines = True`

to remove bad lines. like for csv_read suppose we have 8 cs values in each line but some line has 9 or 10 values randomly, it gives parser error. to avoid this error we use `error_bad_lines`

### 10. dtypes parameter

`dtype` parameter is used to change data type of specific column.
input is Dict with key value pairs of column name and new data type respectively.

In [40]:
pd.read_csv("datasets/cardio_train.csv",sep = ';',dtype = {'alco': bool, 'height':float})

# pd.read_csv("datasets/cardio_train.csv",sep = ';',dtype = {'alco': 'bool', 'height':'float'}).info()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168.0,62.0,110,80,1,1,0,False,1,0
1,1,20228,1,156.0,85.0,140,90,3,1,0,False,1,1
2,2,18857,1,165.0,64.0,130,70,3,1,0,False,0,1
3,3,17623,2,169.0,82.0,150,100,1,1,0,False,1,1
4,4,17474,1,156.0,56.0,100,60,1,1,0,False,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168.0,76.0,120,80,1,1,1,False,1,0
69996,99995,22601,1,158.0,126.0,140,90,2,2,0,False,1,1
69997,99996,19066,2,183.0,105.0,180,90,3,1,0,True,0,1
69998,99998,22431,1,163.0,72.0,135,80,1,2,0,False,0,1
69999,99999,20540,1,170.0,72.0,120,80,2,1,0,False,1,0

### 11. Handeling Dates

Dates in pandas normally are fetched in string format from csv, to convest it to DateTime64 format u can use this parameter as follows:
###### can use index or name of column too
`parse_dates = [...]` list of columns to be converted to dates

`parse_dates = [[...]]` list of list of columns to merge multiple columsn like date,month and year in single column

`parse_dates = {'foo':[...]}` can also give name to combined column like this. name = foo